
/*root: {
    '& .MuiTextField-root': {
      margin: theme.spacing(1),
    },
  },*/

.paper{

    padding: theme;
    padding:2% 
  }
.form{
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: 'center';
  }
.fileInput{
    width: '97%';
    margin: '10px 0'
  }
.buttonSubmit{
    margin-bottom: 10
  }